@import "tailwindcss";

#root {
  @apply w-screen h-screen;
  @apply flex p-12 justify-center;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 350;
  font-size: 1.125rem;

  color-scheme: light dark;
  color: #242424;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply py-2;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1rem;
  border-bottom: 1px solid #242424;
}

h2 {
  @apply py-2 mb-4;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1rem;
  border-bottom: 1px solid #242424;
}

h3 {
  @apply py-1 mb-2 mt-4;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #242424;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.form-fields {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 1.5;
}

.form-buttons {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 1.5;
}