@import "tailwindcss";

:root {
  --light-bg-color: #fefefe;  /* Default: Light theme */
  --light-text-color: #242424; /* Default: Light theme */

  --dark-bg-color: #121212;  /* Default: Dark theme */
  --dark-text-color: #fefefe;  /* Default: Dark theme */

}

#root {
  @apply w-screen h-screen;
  @apply flex justify-center;
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 350;
  font-size: 1.125rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  /* Use the CSS variables here */
  background-color: var(--light-bg-color); 
  color: var(--light-text-color); 
}

.dark-theme {
  /* Use the CSS variables here */
  background-color: var(--dark-bg-color); 
  color: var(--dark-text-color); 
}

.light-header {
  border-bottom: 1px solid #242424;
}

.dark-header {
  border-bottom: 1px solid #fefefe;
}

h1 {
  @apply py-2;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1rem;
}

h2 {
  @apply py-2 mb-4;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1rem;
}

h3 {
  @apply py-1 mb-2 mt-4;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.light-theme-table {
  background-color: white; /* Light theme table background */
  color: black;           /* Light theme table text color */
}

.dark-theme-table {
  background-color: #333; /* Dark theme table background */
  color: white;           /* Dark theme table text color */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.form-fields {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 1.5;
}

.form-buttons {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 350;
  letter-spacing: 1px;
  line-height: 1.5;
}